.footer {
  background-color: #f1f1f1;
  padding: 1rem 0;
  text-align: center;
  color: #333;
  font-size: 0.95rem;
  margin-top: 3rem;
  border-top: 1px solid #ddd;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
